$modal-inex : 2000;
$mark-bg : rgba(0,0,0,.3);
$modal-border-color: #e1e1e1;
@keyframes loading{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.u-modal {
  &__wrap,
  &__mark {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__wrap {
    top: 100%;
    z-index: $modal-inex;
    &--show {
      top: 0;
    }
  }
  &__mark {
    background-color: $mark-bg;
    opacity: 1;
    &--hide {
      top: 100%;
      opacity: 0
    }
  }
  &__content {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $white;
    border-radius: $radius;
    @include box-shadow(rgba(0,0,0,0.09) 0 1px 0);
    @include transform(translateY(-50%) translateX(-50%));

    .icon-remove {
      position: absolute;
      top: 15px;
      right: 16px;
      font-size: 12px;
      font-weight: 100;
      color: $secondary-hover;
      cursor: pointer;
      opacity: 0.2;
      z-index: 10;

      &:hover {
        opacity: 1
      }
    }
  }
  &--enter {
    display: block;
  }
  &__header {
    font-size: 14px;
    padding: 0 18px;
    height: 45px;
    line-height: 45px;
  }
  &__header.u-modal--sizeNotS {
    text-align: left;
    border-bottom: 1px solid  $modal-border-color;
  }
  &__header.u-modal--sizeIsS {
    position: relative;
    top: 20px;
    text-align: center;
  }
  &__footer {
    padding: 0 12px 20px;
    .u-btn {
      margin: 0 8px;
    }
    .icon-loading {
      display: inherit;
      @include animation(loading 1s linear infinite)
    }
  }
  &__footer.u-modal--sizeIsS {
    text-align: center;
  }
  &__footer.u-modal--sizeNotS {
    text-align: right;
  }
  &__body {
    padding: 25px 30px;

    &--flow {
      overflow: hidden;
      overflow-y: auto;
    }
    &--empty {
      padding: 12px 30px;
    }
  }

  //  状态
  &--s {
    width: 300px;
  }

  &--m {
    width: 600px;
  }

  &--l {
    width: 900px;
  }
}
