@charset "utf-8";

.page-filter {
  &-group {
    position: relative;
    padding: 0 60px;
  }
  &-item {
    &>.u-input {
      margin-left: 40px;
    }
    &-name {
      position: absolute;
      line-height: 33px;
      font-size: 14px;
      font-weight: 100;
      font-style: normal;
    }
    &--mw {
      max-width: 400px;
    }
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }
  &--ML {
    margin-left: 40px;
  }
}

.page-filter {
  &--error {
    line-height: 30px
  }
  &-action {
    margin-left: 40px;

    &__typeChose {
      padding: 15px 0;
      text-align: center;

      .u-radio__wrap {
        padding: 0 28px;
      }
    }

    &__group {
      background-color: #eeeeee;
      border-radius: $radius $radius 0 0;
    }

    &--typeHide &__group:last-child &__item:last-child &__typeChose{
      display: none;
    }

    &__group>&__typeChose {
      background-color: #fff;
    }

    &__item {
      padding: 13px 15px;

      &:last-child {
        border-radius: 0 0 $radius $radius;
      }
    }

    &__info {
      position: relative;
      .u-selectMulti {
        width: 170px;
        margin-right: 15px;
        &>.u-hd {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    &__remove {
      position: absolute;
      right: 0;
      top: 11px;
      font-size: 14px;
      color: $text-link;
      cursor: pointer;
      &:hover {
        color: $text-link-hover;
      }
    }
    &__Combox {
      display: inline-block;
      .u-input {
        width: 199px;
        vertical-align: sub;
      }
      .page-filter-widgrtBT {
        &,
        &>div {
          position: relative;
          display: inline-block;
        }
        .u-input {
          width: 118px;
          padding: 0 8px;
        }
        .icon-calendar {
          right: 9px;
          top: 10px;
          font-size: 14px;
        }
      }
      .u-select {
        &>.u-hd {
          height: 35px;
          line-height: 35px;
          &>span {
            height: 33px;
            line-height: 35px;
          }
          .iconfont {
            padding-right: 8px;
          }
        }
      }
    }
  }
  &-widgrt__match {
    display: inline-block;

    .m-input--number,
    .u-input__numbers {
      width: 70px;
    }
    .u-select {
      &>.u-hd { width: 90px}
    }
  }
}
