@charset "utf-8";

.u-col {
	&-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12,
	&-13, &-14, &-15, &-16, &-17, &-18, &-19, &-20, &-21, &-22,
	&-23, &-24 {
		float: left;
		box-sizing: border-box;
	}
}

@for $i from 1 through 24 {
	.u-col-#{$i} {
		width: ($i/24 * 100%)
	}
}

.u-row {
	position: relative;
  box-sizing: border-box;
	@extend .f-cb;
}
