@charset "utf-8";

//  主颜色
//  变化数值,在mixin中设置
//  disabled: opacity: 0.3 , hover||click : ba/1.15
$primary-color : #ff7139;

//  辅助颜色
$secondary-gray  : #666;
$secondary-whith : #fff;

//  提示颜色
$info-color     : #006699;
$info-bg        : #c5eaf3;

$success-color  : #3b9641;
$success-bg     : #d8ecc6;

$warning-color  : #b48804;
$warning-bg     : #fbe9a1;

$danger-color   : #d33c28;
$danger-bg      : #ffcccc;

//  全局边框颜色
$default-border:  #e0e0e0;

//  全局按钮颜色
$box-shoadow: 3px 0 3px rgba(255, 255, 255, .07);

//  文本颜色

//  表单
$from-default-color: #cccccc;

// add by Janzen
$main: $primary-color;
$main-hover: #d96031;
$secondary: $secondary-gray;
$secondary-hover: #333333;

$white: $secondary-whith;




$default-color: #666666;
$default-color-hover: #333333;
$default-bg: #f2f2f2;

$disabled-color: #999999;
$disabled-bg: #f2f2f2;
